.feed-container {
  padding: 7vw 4vw;
  background-color: #f5f5f5;
  background: linear-gradient(90deg, #2c0727 0%, #110823 100%);
}

.feed-title {
  font-size: 4rem;
  margin-bottom: 20px;
  text-align: center;
  color: #fbfbfb;
  /* font-family: "Snell Roundhand", cursive; */
}

.feed-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 items per row */
  gap: 3vw; /* Space between items */
  padding: 5% 5%;
}

.feed-item {
  background-color: rgba(34, 34, 34, 0.7);
  border-radius: 10px;
  padding: 20px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  overflow: hidden;
  height: auto; /* Adjust height based on content */
}

.feed-item:hover {
  transform: scale(1.05); /* Slightly scale up the card */
  box-shadow: 1px 0px 10px #5d1df1, -1px 0px 5px #73f2fb;
}

.feed-item h3 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #f5f5f5;
}

.feed-item p {
  font-size: 1.25rem;
  color: #73f2fb;
}

.feed-item div {
  width: 100%;
  height: 1.5px;
  background-color: #fff;
  margin-bottom: 15px;
}

/* Styling for embedded YouTube videos */
.feed-item iframe {
  width: 100%;
  height: 15vw; /* Adjust the height as needed */
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  margin-bottom: 15px;
}

.feed-item iframe:hover {
  transform: scale(1.02); /* Slight hover effect on the video */
  transition: transform 0.3s ease-in-out;
}

.feed-date {
  font-size: 1rem;
  color: #f5f5f5;
  margin-top: 10px;
  display: block;
  text-align: right;
}

/* Responsive Design: Adjust layout for smaller screens */
@media (max-width: 1200px) {
  .feed-list {
    grid-template-columns: repeat(2, 1fr); /* 2 cards per row on medium screens */
  }

  .feed-item iframe {
    height: 20vw; /* Increase video height for medium screens */
  }
}

@media (max-width: 768px) {
  .feed-list {
    grid-template-columns: 1fr; /* 1 card per row on small screens */
  }

  .feed-item iframe {
    height: 40vw; /* Increase video height for smaller screens */
  }
}
